
.reading-image-animation:hover{
   height: 12.4rem;
   cursor: pointer;
   transition: 2s  ease-in-out;
}


.Readingpricing-rebon span {
   font-size: 14px;
   font-weight: 500;
   color: #fff;
   background: #9b2cfa;
   /* line-height: 28px; */
   padding: 0 18px;
   border-radius: 30px;
 }



