/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  .react-slideshow-container .default-nav {
    height: 40px;
    background: rgba(255,255,255,0.6);
    width: 40px;
    border: 0;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
} */